
.home-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1e293b; /* Dark navy */
}

.home-container p {
  font-size: 1.2rem;
  color: #4b5563; /* Grayish text */
  max-width: 600px;
  line-height: 1.5;
}
